[Unit]
Description=xray ws server start
After=network.target

[Service]
PermissionsStartOnly=true
ExecStart=/root/xray/xray run -config /root/xray/ws/xray_ws.json
Restart=on-failure
LimitNOFILE=10240:40960

[Install]
WantedBy=multi-user.target