[Unit]
Description=xray ws server start
After=network.target

[Service]
User=root
PermissionsStartOnly=false
ExecStart=/root/xray/xray run -config /root/xray/ws/xray_ws.json
Restart=on-failure
LimitNOFILE=10240:40960


[Install]
WantedBy=multi-user.target
