[Unit]
Description=ebpf service
After=network.target

[Service]
User=root
Group=root
PermissionsStartOnly=false
WorkingDirectory=/root/ebpf
Environment=RUST_LOG=ERROR
Environment=PATH=/usr/sbin:$PATH
ExecStart=/root/ebpf/ebpf
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=1048576
LimitMEMLOCK=10455360
# TasksMax=1048576
RestartSec=2s


[Install]
WantedBy=multi-user.target