[Unit]
Description=envoy server start
After=network.target

[Service]
PermissionsStartOnly=true
ExecStart=/usr/bin/envoy -c /root/xray/envoy.yaml
Restart=on-failure
LimitNOFILE=10240:40960


[Install]
WantedBy=multi-user.target